.elementor-widget-heading.elementor-widget-heading .elementor-heading-title {color: #6ec1e4;}
.elementor-widget-heading .elementor-heading-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-image .widget-image-caption {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-text-editor {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {background-color: #6ec1e4;}
.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap {color: #6ec1e4;border-color: #6ec1e4;}
.elementor-widget-button a.elementor-button, .elementor-widget-button .elementor-button {font-family: "Roboto",Sans-serif;font-weight: 500;background-color: #61ce70;}
.elementor-widget-divider {--divider-border-color: #54595f;}
.elementor-widget-divider .elementor-divider__text {color: #54595f;font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-divider.elementor-view-stacked .elementor-icon {background-color: #54595f;}
.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon {color: #54595f;border-color: #54595f;}
.elementor-widget-divider.elementor-view-framed .elementor-icon, .elementor-widget-divider.elementor-view-default .elementor-icon svg {fill: #54595f;}
.elementor-widget-image-box .elementor-image-box-content .elementor-image-box-title {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-image-box .elementor-image-box-content .elementor-image-box-description {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-icon.elementor-view-stacked .elementor-icon {background-color: #6ec1e4;}
.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon {color: #6ec1e4;border-color: #6ec1e4;}
.elementor-widget-icon.elementor-view-framed .elementor-icon, .elementor-widget-icon.elementor-view-default .elementor-icon svg {fill: #6ec1e4;}
.elementor-widget-icon-box.elementor-view-stacked .elementor-icon {background-color: #6ec1e4;}
.elementor-widget-icon-box.elementor-view-framed .elementor-icon, .elementor-widget-icon-box.elementor-view-default .elementor-icon {fill: #6ec1e4;color: #6ec1e4;border-color: #6ec1e4;}
.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-title {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-icon-box .elementor-icon-box-content .elementor-icon-box-description {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-star-rating .elementor-star-rating__title {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-image-carousel .elementor-image-carousel-caption {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-image-gallery .gallery-item .gallery-caption {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {border-color: #7a7a7a;}
.elementor-widget-icon-list .elementor-icon-list-icon i {color: #6ec1e4;}
.elementor-widget-icon-list .elementor-icon-list-icon svg {fill: #6ec1e4;}
.elementor-widget-icon-list .elementor-icon-list-text {color: #54595f;}
.elementor-widget-icon-list .elementor-icon-list-item {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-counter .elementor-counter-number-wrapper {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-counter .elementor-counter-title {color: #54595f;font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-progress .elementor-progress-wrapper .elementor-progress-bar {background-color: #6ec1e4;}
.elementor-widget-progress .elementor-title {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-testimonial .elementor-testimonial-content {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-testimonial .elementor-testimonial-name {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-testimonial .elementor-testimonial-job {color: #54595f;font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-tabs .elementor-tab-title {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-tabs .elementor-tab-title.elementor-active {color: #61ce70;}
.elementor-widget-tabs .elementor-tab-content {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-title {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-title.elementor-active {color: #61ce70;}
.elementor-widget-accordion .elementor-accordion .elementor-tab-content {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-title {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-title.elementor-active {color: #61ce70;}
.elementor-widget-toggle .elementor-toggle .elementor-tab-content {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-alert .elementor-alert-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-alert .elementor-alert-description {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-theme-site-logo .widget-image-caption {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-theme-site-title.elementor-widget-heading .elementor-heading-title {color: #6ec1e4;}
.elementor-widget-theme-site-title .elementor-heading-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-theme-page-title.elementor-widget-heading .elementor-heading-title {color: #6ec1e4;}
.elementor-widget-theme-page-title .elementor-heading-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-theme-post-title.elementor-widget-heading .elementor-heading-title {color: #6ec1e4;}
.elementor-widget-theme-post-title .elementor-heading-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-theme-post-excerpt .elementor-widget-container {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-theme-post-content {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-theme-post-featured-image .widget-image-caption {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-theme-archive-title.elementor-widget-heading .elementor-heading-title {color: #6ec1e4;}
.elementor-widget-theme-archive-title .elementor-heading-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-archive-posts .elementor-post__title, .elementor-widget-archive-posts .elementor-post__title a {color: #54595f;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-archive-posts .elementor-post__meta-data {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-archive-posts .elementor-post__excerpt p {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-archive-posts .elementor-post__read-more {color: #61ce70;font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-archive-posts .elementor-post__card .elementor-post__badge {background-color: #61ce70;font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-archive-posts .elementor-pagination {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-archive-posts .elementor-posts-nothing-found {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-posts .elementor-post__title, .elementor-widget-posts .elementor-post__title a {color: #54595f;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-posts .elementor-post__meta-data {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-posts .elementor-post__excerpt p {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-posts .elementor-post__read-more {color: #61ce70;font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-posts .elementor-post__card .elementor-post__badge {background-color: #61ce70;font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-posts .elementor-pagination {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-portfolio a .elementor-portfolio-item__overlay {background-color: #61ce70;}
.elementor-widget-portfolio .elementor-portfolio-item__title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-portfolio .elementor-portfolio__filter {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-portfolio .elementor-portfolio__filter.elementor-active {color: #6ec1e4;}
.elementor-widget-gallery .elementor-gallery-item__title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-gallery .elementor-gallery-item__description {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-gallery a.elementor-item {color: #6ec1e4;}
.elementor-widget-gallery .elementor-gallery-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-gallery a.elementor-item:hover, .elementor-widget-gallery a.elementor-item.elementor-item-active, .elementor-widget-gallery a.elementor-item.highlighted, .elementor-widget-gallery a.elementor-item:focus {color: #54595f;}
.elementor-widget-gallery .elementor-gallery__titles-container:not(.e--pointer-framed) .elementor-item:before, .elementor-widget-gallery .elementor-gallery__titles-container:not(.e--pointer-framed) .elementor-item:after {background-color: #61ce70;}
.elementor-widget-gallery .e--pointer-framed .elementor-item:before, .elementor-widget-gallery .e--pointer-framed .elementor-item:after {border-color: #61ce70;}
.elementor-widget-gallery a.elementor-item.elementor-item-active {color: #54595f;}
.elementor-widget-gallery .elementor-gallery__titles-container:not(.e--pointer-framed) .elementor-item.elementor-item-active:before, .elementor-widget-gallery .elementor-gallery__titles-container:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {background-color: #61ce70;}
.elementor-widget-gallery .e--pointer-framed .elementor-item.elementor-item-active:before, .elementor-widget-gallery .e--pointer-framed .elementor-item.elementor-item-active:after {border-color: #61ce70;}
.elementor-widget-form .elementor-field-group > label, .elementor-widget-form .elementor-field-subgroup label {color: #7a7a7a;}
.elementor-widget-form .elementor-field-group > label {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-form .elementor-field-type-html {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-form .elementor-field-group .elementor-field {color: #7a7a7a;}
.elementor-widget-form .elementor-field-group .elementor-field, .elementor-widget-form .elementor-field-subgroup label {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-form .elementor-button {background-color: #61ce70;font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-form .elementor-message {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-login .elementor-field-group > a {color: #7a7a7a;}
.elementor-widget-login .elementor-field-group > a:hover {color: #61ce70;}
.elementor-widget-login .elementor-form-fields-wrapper label {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-login .elementor-field-group .elementor-field {color: #7a7a7a;}
.elementor-widget-login .elementor-field-group .elementor-field, .elementor-widget-login .elementor-field-subgroup label {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-login .elementor-button {font-family: "Roboto",Sans-serif;font-weight: 500;background-color: #61ce70;}
.elementor-widget-login .elementor-widget-container .elementor-login__logged-in-message {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-slides .elementor-slide-heading {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-slides .elementor-slide-description {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-slides .elementor-slide-button {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-nav-menu .elementor-nav-menu .elementor-item {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item {color: #7a7a7a;}
.elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:hover, .elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.elementor-item-active, .elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item.highlighted, .elementor-widget-nav-menu .elementor-nav-menu--main .elementor-item:focus {color: #61ce70;}
.elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before, .elementor-widget-nav-menu .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {background-color: #61ce70;}
.elementor-widget-nav-menu .e--pointer-framed .elementor-item:before, .elementor-widget-nav-menu .e--pointer-framed .elementor-item:after {border-color: #61ce70;}
.elementor-widget-nav-menu .elementor-nav-menu--dropdown {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-animated-headline .elementor-headline-dynamic-wrapper path {stroke: #61ce70;}
.elementor-widget-animated-headline .elementor-headline-plain-text {color: #54595f;}
.elementor-widget-animated-headline .elementor-headline {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-animated-headline .elementor-headline-dynamic-text {color: #54595f;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-price-list .elementor-price-list-header {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-price-list .elementor-price-list-description {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-price-list .elementor-price-list-separator {border-bottom-color: #54595f;}
.elementor-widget-price-table .elementor-price-table__header {background-color: #54595f;}
.elementor-widget-price-table .elementor-price-table__heading {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-price-table .elementor-price-table__subheading {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-price-table .elementor-price-table__price {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-price-table .elementor-price-table__original-price {color: #54595f;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-price-table .elementor-price-table__period {color: #54595f;font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-price-table .elementor-price-table__features-list {color: #7a7a7a;}
.elementor-widget-price-table .elementor-price-table__features-list li {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-price-table .elementor-price-table__features-list li:before {border-top-color: #7a7a7a;}
.elementor-widget-price-table .elementor-price-table__button {font-family: "Roboto",Sans-serif;font-weight: 500;background-color: #61ce70;}
.elementor-widget-price-table .elementor-price-table__additional_info {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-price-table .elementor-price-table__ribbon-inner {background-color: #61ce70;font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-flip-box .elementor-flip-box__front .elementor-flip-box__layer__title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-flip-box .elementor-flip-box__front .elementor-flip-box__layer__description {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-flip-box .elementor-flip-box__back .elementor-flip-box__layer__title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-flip-box .elementor-flip-box__back .elementor-flip-box__layer__description {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-flip-box .elementor-flip-box__button {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-call-to-action .elementor-cta__title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-call-to-action .elementor-cta__description {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-call-to-action .elementor-cta__button {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-call-to-action .elementor-ribbon-inner {background-color: #61ce70;font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-media-carousel .elementor-carousel-image-overlay {font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-testimonial-carousel .elementor-testimonial__text {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-testimonial-carousel .elementor-testimonial__name {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-testimonial-carousel .elementor-testimonial__title {color: #6ec1e4;font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-reviews .elementor-testimonial__header, .elementor-widget-reviews .elementor-testimonial__name {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-reviews .elementor-testimonial__text {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-countdown .elementor-countdown-item {background-color: #6ec1e4;}
.elementor-widget-countdown .elementor-countdown-digits {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-countdown .elementor-countdown-label {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-countdown .elementor-countdown-expire--message {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-search-form input[type="search"].elementor-search-form__input {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-search-form .elementor-search-form__input, .elementor-widget-search-form .elementor-search-form__icon, .elementor-widget-search-form .elementor-lightbox .dialog-lightbox-close-button, .elementor-widget-search-form .elementor-lightbox .dialog-lightbox-close-button:hover, .elementor-widget-search-form.elementor-search-form--skin-full_screen input[type="search"].elementor-search-form__input {color: #7a7a7a;}
.elementor-widget-search-form .elementor-search-form__submit {font-family: "Roboto",Sans-serif;font-weight: 400;background-color: #54595f;}
.elementor-widget-author-box .elementor-author-box__name {color: #54595f;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-author-box .elementor-author-box__bio {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-author-box .elementor-author-box__button {color: #54595f;border-color: #54595f;font-family: "Roboto",Sans-serif;font-weight: 500;}
.elementor-widget-author-box .elementor-author-box__button:hover {border-color: #54595f;color: #54595f;}
.elementor-widget-post-navigation span.post-navigation__prev--label {color: #7a7a7a;}
.elementor-widget-post-navigation span.post-navigation__next--label {color: #7a7a7a;}
.elementor-widget-post-navigation span.post-navigation__prev--label, .elementor-widget-post-navigation span.post-navigation__next--label {font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-post-navigation span.post-navigation__prev--title, .elementor-widget-post-navigation span.post-navigation__next--title {color: #54595f;font-family: "Roboto Slab",Sans-serif;font-weight: 400;}
.elementor-widget-post-info .elementor-icon-list-item:not(:last-child):after {border-color: #7a7a7a;}
.elementor-widget-post-info .elementor-icon-list-icon i {color: #6ec1e4;}
.elementor-widget-post-info .elementor-icon-list-icon svg {fill: #6ec1e4;}
.elementor-widget-post-info .elementor-icon-list-text, .elementor-widget-post-info .elementor-icon-list-text a {color: #54595f;}
.elementor-widget-post-info .elementor-icon-list-item {font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-sitemap .elementor-sitemap-title {color: #6ec1e4;font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-sitemap .elementor-sitemap-item, .elementor-widget-sitemap span.elementor-sitemap-list, .elementor-widget-sitemap .elementor-sitemap-item a {color: #7a7a7a;font-family: "Roboto",Sans-serif;font-weight: 400;}
.elementor-widget-sitemap .elementor-sitemap-item {color: #7a7a7a;}
.elementor-widget-blockquote .elementor-blockquote__content {color: #7a7a7a;}
.elementor-widget-blockquote .elementor-blockquote__author {color: #54595f;}
.elementor-widget-table-of-contents {--header-color: #54595f;--item-text-color: #7a7a7a;--item-text-hover-color: #61ce70;--marker-color: #7a7a7a;}
.elementor-widget-table-of-contents .elementor-toc__header, .elementor-widget-table-of-contents .elementor-toc__header-title {font-family: "Roboto",Sans-serif;font-weight: 600;}
.elementor-widget-table-of-contents .elementor-toc__list-item {font-family: "Roboto",Sans-serif;font-weight: 400;}