.elementor-2 .elementor-element.elementor-element-68074057 > .elementor-container {max-width: 777px;min-height: 0px;}
.elementor-2 .elementor-element.elementor-element-68074057 > .elementor-container:after {content: "";min-height: inherit;}
.elementor-2 .elementor-element.elementor-element-68074057 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-2 .elementor-element.elementor-element-68074057:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-68074057 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;background-image: url("https://mlxos9xo8b8k.i.optimole.com/w:auto/h:auto/q:auto/https://PLACEHOLDER.wpsho/wp-content/uploads/2019/12/foodiesfeed.com_meanwhile-in-the-kitchen-1.jpg");background-position: center center;background-repeat: no-repeat;background-size: cover;}
.elementor-2 .elementor-element.elementor-element-68074057 > .elementor-background-overlay {background-color: #000;opacity: .6;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-2 .elementor-element.elementor-element-68074057 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 200px 0px 200px 0px;}
.elementor-2 .elementor-element.elementor-element-7658e279 {text-align: center;}
.elementor-2 .elementor-element.elementor-element-7658e279 .elementor-image img {max-width: 40%;opacity: 1;}
.elementor-2 .elementor-element.elementor-element-348074fd > .elementor-container {max-width: 940px;}
.elementor-2 .elementor-element.elementor-element-348074fd > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-2 .elementor-element.elementor-element-348074fd {padding: 100px 0px 100px 0px;}
.elementor-2 .elementor-element.elementor-element-4a7667b > .elementor-element-populated {padding: 0px 80px 0px 0px;}
.elementor-2 .elementor-element.elementor-element-6aa5e719.elementor-widget-heading .elementor-heading-title {color: #dfc15e;}
.elementor-2 .elementor-element.elementor-element-6aa5e719 .elementor-heading-title {font-family: "Ovo",Sans-serif;font-size: 54px;text-transform: uppercase;letter-spacing: -2px;}
.elementor-2 .elementor-element.elementor-element-28cc24a5 {--divider-border-style: solid;--divider-border-color: #eaeaea;--divider-border-width: 3px;}
.elementor-2 .elementor-element.elementor-element-28cc24a5 .elementor-divider-separator {width: 14%;}
.elementor-2 .elementor-element.elementor-element-28cc24a5 .elementor-divider {padding-top: 11px;padding-bottom: 11px;}
.elementor-2 .elementor-element.elementor-element-1c502096 {color: #a3a3a3;}
.elementor-2 .elementor-element.elementor-element-c746733 .gallery-item {padding: 0 20px 20px 0;}
.elementor-2 .elementor-element.elementor-element-c746733 .gallery {margin: 0 -20px -20px 0;}
.elementor-2 .elementor-element.elementor-element-c746733 .gallery-item .gallery-caption {text-align: center;}
.elementor-2 .elementor-element.elementor-element-2f399af8 > .elementor-container {max-width: 940px;min-height: 500px;text-align: center;}
.elementor-2 .elementor-element.elementor-element-2f399af8 > .elementor-container:after {content: "";min-height: inherit;}
.elementor-2 .elementor-element.elementor-element-2f399af8 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-2 .elementor-element.elementor-element-2f399af8:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-2f399af8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #3a3a3a;}
.elementor-2 .elementor-element.elementor-element-2f399af8 {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-2 .elementor-element.elementor-element-2f399af8 > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-2 .elementor-element.elementor-element-7907cc93 {text-align: center;}
.elementor-2 .elementor-element.elementor-element-7907cc93.elementor-widget-heading .elementor-heading-title {color: #dfc15e;}
.elementor-2 .elementor-element.elementor-element-7907cc93 .elementor-heading-title {font-family: "Shadows Into Light",Sans-serif;font-size: 50px;}
.elementor-2 .elementor-element.elementor-element-4fdcaf13 .elementor-spacer-inner {height: 10px;}
.elementor-2 .elementor-element.elementor-element-1880962f .elementor-testimonial-content {color: #bababa;font-size: 17px;line-height: 1.6em;}
.elementor-2 .elementor-element.elementor-element-1880962f .elementor-testimonial-wrapper .elementor-testimonial-image img {width: 70px;height: 70px;}
.elementor-2 .elementor-element.elementor-element-1880962f .elementor-testimonial-name {color: #dfc15e;font-family: "Ovo",Sans-serif;font-size: 18px;text-transform: uppercase;letter-spacing: 9px;}
.elementor-2 .elementor-element.elementor-element-1afb06ee > .elementor-container {max-width: 940px;}
.elementor-2 .elementor-element.elementor-element-1afb06ee:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-1afb06ee > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #eee;}
.elementor-2 .elementor-element.elementor-element-1afb06ee {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 90px 0px 100px 0px;}
.elementor-2 .elementor-element.elementor-element-1afb06ee > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-2 .elementor-element.elementor-element-3ed1907c > .elementor-container {max-width: 940px;}
.elementor-2 .elementor-element.elementor-element-3ed1907c > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-2 .elementor-element.elementor-element-406216ca:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-2 .elementor-element.elementor-element-406216ca > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-2 .elementor-element.elementor-element-406216ca > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;text-align: center;padding: 0% 12% 0% 12%;}
.elementor-2 .elementor-element.elementor-element-406216ca > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-2 .elementor-element.elementor-element-acc4087.elementor-widget-heading .elementor-heading-title {color: #dfc15e;}
.elementor-2 .elementor-element.elementor-element-acc4087 .elementor-heading-title {font-family: "Ovo",Sans-serif;font-size: 24px;text-transform: uppercase;}
.elementor-2 .elementor-element.elementor-element-125073c8 {--divider-border-style: solid;--divider-border-color: #eaeaea;--divider-border-width: 3px;}
.elementor-2 .elementor-element.elementor-element-125073c8 .elementor-divider-separator {width: 14%;}
.elementor-2 .elementor-element.elementor-element-125073c8 .elementor-divider {padding-top: 7px;padding-bottom: 7px;}
.elementor-2 .elementor-element.elementor-element-24bf9166 {color: #a3a3a3;}
.elementor-2 .elementor-element.elementor-element-6c2bdbc4:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-2 .elementor-element.elementor-element-6c2bdbc4 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-image: url("https://mlxos9xo8b8k.i.optimole.com/w:auto/h:auto/q:auto/https://PLACEHOLDER.wpsho/wp-content/uploads/2019/12/foodiesfeed.com_homemade-waffles-with-coffee.jpg");background-position: center center;background-repeat: no-repeat;background-size: cover;}
.elementor-2 .elementor-element.elementor-element-6c2bdbc4 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;}
.elementor-2 .elementor-element.elementor-element-6c2bdbc4 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-2 .elementor-element.elementor-element-3e14dde4 .elementor-spacer-inner {height: 380px;}
.elementor-2 .elementor-element.elementor-element-7023d48a > .elementor-container {max-width: 940px;}
.elementor-2 .elementor-element.elementor-element-7023d48a > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-2 .elementor-element.elementor-element-7be1ea3b .swiper-pagination-bullet {background: #dfc15e;}
.elementor-2 .elementor-element.elementor-element-653d1e0a:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-2 .elementor-element.elementor-element-653d1e0a > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-2 .elementor-element.elementor-element-653d1e0a > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;text-align: center;padding: 0% 12% 0% 12%;}
.elementor-2 .elementor-element.elementor-element-653d1e0a > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-2 .elementor-element.elementor-element-1ec2ed9f.elementor-widget-heading .elementor-heading-title {color: #dfc15e;}
.elementor-2 .elementor-element.elementor-element-1ec2ed9f .elementor-heading-title {font-family: "Ovo",Sans-serif;font-size: 24px;text-transform: uppercase;}
.elementor-2 .elementor-element.elementor-element-51f31536 {--divider-border-style: solid;--divider-border-color: #eaeaea;--divider-border-width: 3px;}
.elementor-2 .elementor-element.elementor-element-51f31536 .elementor-divider-separator {width: 14%;}
.elementor-2 .elementor-element.elementor-element-51f31536 .elementor-divider {padding-top: 7px;padding-bottom: 7px;}
.elementor-2 .elementor-element.elementor-element-7fef373f {color: #a3a3a3;}
.elementor-2 .elementor-element.elementor-element-4d489362 > .elementor-container {max-width: 940px;}
.elementor-2 .elementor-element.elementor-element-4d489362 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-2 .elementor-element.elementor-element-205e171:not(.elementor-motion-effects-element-type-background) > .elementor-element-populated, .elementor-2 .elementor-element.elementor-element-205e171 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-color: #fff;}
.elementor-2 .elementor-element.elementor-element-205e171 > .elementor-element-populated {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;text-align: center;padding: 0% 12% 0% 12%;}
.elementor-2 .elementor-element.elementor-element-205e171 > .elementor-element-populated > .elementor-background-overlay {transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-2 .elementor-element.elementor-element-1890c9f1.elementor-widget-heading .elementor-heading-title {color: #dfc15e;}
.elementor-2 .elementor-element.elementor-element-1890c9f1 .elementor-heading-title {font-family: "Ovo",Sans-serif;font-size: 24px;text-transform: uppercase;}
.elementor-2 .elementor-element.elementor-element-56c40dc2 {--divider-border-style: solid;--divider-border-color: #eaeaea;--divider-border-width: 3px;}
.elementor-2 .elementor-element.elementor-element-56c40dc2 .elementor-divider-separator {width: 14%;}
.elementor-2 .elementor-element.elementor-element-56c40dc2 .elementor-divider {padding-top: 7px;padding-bottom: 7px;}
.elementor-2 .elementor-element.elementor-element-5d505d0b {color: #a3a3a3;}
.elementor-2 .elementor-element.elementor-element-178c373f > .elementor-container {max-width: 940px;text-align: center;}
.elementor-2 .elementor-element.elementor-element-178c373f > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-2 .elementor-element.elementor-element-178c373f:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-178c373f > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-image: url("https://mlxos9xo8b8k.i.optimole.com/w:auto/h:auto/q:auto/https://PLACEHOLDER.wpsho/wp-content/uploads/2019/12/foodiesfeed.com_meanwhile-in-the-kitchen-1.jpg");background-position: center center;background-repeat: no-repeat;background-size: cover;}
.elementor-2 .elementor-element.elementor-element-178c373f > .elementor-background-overlay {background-color: #000;opacity: .75;transition: background .3s,border-radius .3s,opacity .3s;}
.elementor-2 .elementor-element.elementor-element-178c373f {transition: background .3s,border .3s,border-radius .3s,box-shadow .3s;padding: 80px 0px 80px 0px;}
.elementor-2 .elementor-element.elementor-element-4ef1ec7e {text-align: center;}
.elementor-2 .elementor-element.elementor-element-4ef1ec7e.elementor-widget-heading .elementor-heading-title {color: #dfc15e;}
.elementor-2 .elementor-element.elementor-element-4ef1ec7e .elementor-heading-title {font-family: "Shadows Into Light",Sans-serif;font-size: 50px;}
.elementor-2 .elementor-element.elementor-element-5c8808e5 {color: #bababa;font-size: 17px;}
.elementor-2 .elementor-element.elementor-element-5c8808e5 > .elementor-widget-container {padding: 0% 16% 0% 16%;}
.elementor-2 .elementor-element.elementor-element-360d5cdc .elementor-spacer-inner {height: 25px;}
.elementor-2 .elementor-element.elementor-element-1209c985 .elementor-swiper-button.elementor-swiper-button-prev, .elementor-2 .elementor-element.elementor-element-1209c985 .elementor-swiper-button.elementor-swiper-button-next {font-size: 21px;}
.elementor-2 .elementor-element.elementor-element-1209c985 .elementor-image-carousel-wrapper .elementor-image-carousel .swiper-slide-image {border-radius: 6px 6px 6px 6px;}
.elementor-2 .elementor-element.elementor-element-1fcdb271 .elementor-spacer-inner {height: 25px;}
.elementor-2 .elementor-element.elementor-element-5ebd5714 a.elementor-button, .elementor-2 .elementor-element.elementor-element-5ebd5714 .elementor-button {font-family: "Roboto",Sans-serif;font-size: 13px;font-weight: 600;text-transform: uppercase;line-height: 1em;fill: #dfc15e;color: #dfc15e;background-color: rgba(223,193,94,0);border-radius: 50px 50px 50px 50px;}
.elementor-2 .elementor-element.elementor-element-5ebd5714 a.elementor-button:hover, .elementor-2 .elementor-element.elementor-element-5ebd5714 .elementor-button:hover, .elementor-2 .elementor-element.elementor-element-5ebd5714 a.elementor-button:focus, .elementor-2 .elementor-element.elementor-element-5ebd5714 .elementor-button:focus {color: #fff;background-color: #dfc15e;border-color: #dfc15e;}
.elementor-2 .elementor-element.elementor-element-5ebd5714 a.elementor-button:hover svg, .elementor-2 .elementor-element.elementor-element-5ebd5714 .elementor-button:hover svg, .elementor-2 .elementor-element.elementor-element-5ebd5714 a.elementor-button:focus svg, .elementor-2 .elementor-element.elementor-element-5ebd5714 .elementor-button:focus svg {fill: #fff;}
.elementor-2 .elementor-element.elementor-element-5ebd5714 .elementor-button {border-style: solid;border-width: 2px 2px 2px 2px;}
.elementor-2 .elementor-element.elementor-element-515e6984 > .elementor-container {max-width: 940px;}
.elementor-2 .elementor-element.elementor-element-515e6984 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {align-content: center;align-items: center;}
.elementor-2 .elementor-element.elementor-element-515e6984 {padding: 100px 0px 100px 0px;}
.elementor-2 .elementor-element.elementor-element-63f53bad > .elementor-element-populated {padding: 0px 80px 0px 0px;}
.elementor-2 .elementor-element.elementor-element-2f5fcd81.elementor-widget-heading .elementor-heading-title {color: #dfc15e;}
.elementor-2 .elementor-element.elementor-element-2f5fcd81 .elementor-heading-title {font-family: "Ovo",Sans-serif;font-size: 54px;text-transform: uppercase;letter-spacing: -2px;}
.elementor-2 .elementor-element.elementor-element-79897adc {--divider-border-style: solid;--divider-border-color: #eaeaea;--divider-border-width: 3px;}
.elementor-2 .elementor-element.elementor-element-79897adc .elementor-divider-separator {width: 14%;}
.elementor-2 .elementor-element.elementor-element-79897adc .elementor-divider {padding-top: 11px;padding-bottom: 11px;}
.elementor-2 .elementor-element.elementor-element-4b227f1c .elementor-icon-list-icon i {color: #a3a3a3;font-size: 14px;}
.elementor-2 .elementor-element.elementor-element-4b227f1c .elementor-icon-list-icon svg {fill: #a3a3a3;width: 14px;}
.elementor-2 .elementor-element.elementor-element-4b227f1c .elementor-icon-list-text {color: #a3a3a3;padding-left: 15px;}
.elementor-2 .elementor-element.elementor-element-4b227f1c .elementor-icon-list-item {font-size: 14px;line-height: 2.5em;}
.elementor-2 .elementor-element.elementor-element-7de7e0ec iframe {height: 300px;}
.elementor-2 .elementor-element.elementor-element-3570d775 > .elementor-container {max-width: 1140px;}
.elementor-2 .elementor-element.elementor-element-5f711fab .elementor-text-editor {text-align: center;}
.elementor-2 .elementor-element.elementor-element-5f711fab > .elementor-widget-container {padding: 20px 20px 20px 20px;}
@media (min-width:768px) {.elementor-2 .elementor-element.elementor-element-63f53bad {width: 50%;}
	.elementor-2 .elementor-element.elementor-element-269e3d03 {width: 50%;}}
@media (max-width:1024px) {.elementor-2 .elementor-element.elementor-element-7658e279 {text-align: center;}
	.elementor-2 .elementor-element.elementor-element-4a7667b > .elementor-element-populated {padding: 0px 0px 0px 50px;}
	.elementor-2 .elementor-element.elementor-element-6aa5e719 .elementor-heading-title {font-size: 45px;}
	.elementor-2 .elementor-element.elementor-element-2f399af8 {padding: 30px 0px 30px 0px;}
	.elementor-2 .elementor-element.elementor-element-8327106 > .elementor-element-populated {padding: 0px 50px 0px 50px;}
	.elementor-2 .elementor-element.elementor-element-515e6984 {padding: 50px 0px 0px 50px;}
	.elementor-2 .elementor-element.elementor-element-2f5fcd81 .elementor-heading-title {font-size: 45px;}}
@media (max-width:767px) {.elementor-2 .elementor-element.elementor-element-7658e279 {text-align: center;}
	.elementor-2 .elementor-element.elementor-element-4a7667b > .elementor-element-populated {padding: 0px 20px 0px 20px;}
	.elementor-2 .elementor-element.elementor-element-6aa5e719 {text-align: center;}
	.elementor-2 .elementor-element.elementor-element-6aa5e719 .elementor-heading-title {font-size: 32px;}
	.elementor-2 .elementor-element.elementor-element-28cc24a5 .elementor-divider {text-align: center;}
	.elementor-2 .elementor-element.elementor-element-28cc24a5 .elementor-divider-separator {margin: 0 auto;margin-center: 0;}
	.elementor-2 .elementor-element.elementor-element-1c502096 .elementor-text-editor {text-align: center;}
	.elementor-2 .elementor-element.elementor-element-1c502096 > .elementor-widget-container {padding: 0px 0px 20px 0px;}
	.elementor-2 .elementor-element.elementor-element-c746733 > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
	.elementor-2 .elementor-element.elementor-element-2f399af8 {padding: 70px 0px 70px 0px;}
	.elementor-2 .elementor-element.elementor-element-8327106 > .elementor-element-populated {padding: 0px 30px 0px 30px;}
	.elementor-2 .elementor-element.elementor-element-7907cc93 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
	.elementor-2 .elementor-element.elementor-element-1afb06ee {padding: 0px 0px 0px 0px;}
	.elementor-2 .elementor-element.elementor-element-406216ca > .elementor-element-populated {padding: 50px 30px 50px 30px;}
	.elementor-2 .elementor-element.elementor-element-6c2bdbc4 > .elementor-element-populated {padding: 0px 0px 0px 0px;}
	.elementor-2 .elementor-element.elementor-element-3e14dde4 > .elementor-widget-container {padding: 0px 0px 0px 0px;}
	.elementor-2 .elementor-element.elementor-element-7023d48a {padding: 100px 0px 0px 0px;}
	.elementor-2 .elementor-element.elementor-element-653d1e0a > .elementor-element-populated {padding: 50px 30px 50px 30px;}
	.elementor-2 .elementor-element.elementor-element-4d489362 {padding: 100px 0px 0px 0px;}
	.elementor-2 .elementor-element.elementor-element-205e171 > .elementor-element-populated {padding: 50px 30px 30px 30px;}
	.elementor-2 .elementor-element.elementor-element-515e6984 {padding: 80px 0px 0px 0px;}
	.elementor-2 .elementor-element.elementor-element-63f53bad > .elementor-element-populated {margin: 0px 0px 0px 0px;padding: 0px 0px 0px 0px;}
	.elementor-2 .elementor-element.elementor-element-2f5fcd81 {text-align: center;}
	.elementor-2 .elementor-element.elementor-element-2f5fcd81 .elementor-heading-title {font-size: 32px;}
	.elementor-2 .elementor-element.elementor-element-79897adc .elementor-divider {text-align: center;}
	.elementor-2 .elementor-element.elementor-element-79897adc .elementor-divider-separator {margin: 0 auto;margin-center: 0;}
	.elementor-2 .elementor-element.elementor-element-4b227f1c > .elementor-widget-container {margin: 0px 0px 0px 0px;padding: 0px 0px 50px 50px;}}
@media (min-width:1025px) {.elementor-2 .elementor-element.elementor-element-178c373f:not(.elementor-motion-effects-element-type-background), .elementor-2 .elementor-element.elementor-element-178c373f > .elementor-motion-effects-container > .elementor-motion-effects-layer {background-attachment: fixed;}}